<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{escape(handler.settings["blog_title"])}}</title>
    <link rel="stylesheet" href="{{static_url('blog.css')}}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml"
    {%block head%}{%end%}
</head>
<body>
<div id="body">
    <div id="header">
        <div style="...">
            {% if current_user%}
            <<a href="/compase">{{"New Post"}}</a>
            <<a href="/auth/logout?next={{url_escape(request.uri)}}">{{_("Sign out")}}</a>
            {%else%}
            {%raw _('<a href="%(url)s">登录</a>修改')%{"url":"/auth/login?next="+url_escape(request.uri)}%}
            {%end%}
        </div>
    </div>
    <div id="content">{% block body%}{%end%}
        <div>
        </div>
        {%block bottom%}{%end%}
</body>
</html>
